*
!.gitignore
!resources/
!resources/**/
!resources/**/*.yaml
!assets/
!assets/firmware/
!assets/firmware/*.tar
!workspaces/
!workspaces/*.json
!server-workspace/
!server-workspace/config.yaml
!server-workspace/identity.key
!config-home/
!config-home/gizclaw/
!config-home/gizclaw/current
!config-home/gizclaw/e2e-admin/
!config-home/gizclaw/e2e-admin/config.yaml
!config-home/gizclaw/e2e-admin/identity.key
!config-home/gizclaw/e2e-admin-test/
!config-home/gizclaw/e2e-admin-test/config.yaml
!config-home/gizclaw/e2e-admin-test/identity.key
!config-home/gizclaw/e2e-client/
!config-home/gizclaw/e2e-client/config.yaml
!config-home/gizclaw/e2e-client/identity.key
!config-home/gizclaw/e2e-client-webrtc/
!config-home/gizclaw/e2e-client-webrtc/config.yaml
!config-home/gizclaw/e2e-client-webrtc/identity.key
!config-home/gizclaw/e2e-social-a/
!config-home/gizclaw/e2e-social-a/config.yaml
!config-home/gizclaw/e2e-social-a/identity.key
!config-home/gizclaw/e2e-social-b/
!config-home/gizclaw/e2e-social-b/config.yaml
!config-home/gizclaw/e2e-social-b/identity.key
